html {
    overflow: hidden;
}

html::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 60vh;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

/* Aumentando a especificidade do seletor .star-wars */
body .star-wars {
    padding: 0 !important;
    display: flex;
    background: #000000 url(https://cssanimation.rocks/demo/starwars/images/bg.jpg) !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 100px;
    text-align: justify;
}

a {
    color: inherit; /* Herda a cor do texto do elemento pai */
    text-decoration: underline; /* Mantém apenas o sublinhado */
}


.title {
    font-family: 'Star Jedi Hollow', sans-serif !important;
    font-size: 250%;
}

.crawl {
    transform-origin: bottom;
    width: 90%;
    animation: crawl 110s linear forwards; /* velocidade texto */
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

.history {
    margin-bottom: 8rem;
}

@keyframes crawl {
    0% {
        transform: rotateX(20deg) translateY(100%);
    }
    100% {
        transform: rotateX(25deg) translateY(-100%);
        /* OR
        transform:rotateX(25deg) translateY(0%);
        if you want the text to stop at the bottom
        */
    }
}
