
<div class="col-sm p-3 py-5 min-vwaa-100">
    <nav class="navbar navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <a class="navbar-brand" href="/">
                <NavbarBrand />
            </a>

            <ul class="navbar-nav m-auto">
                <NavItems />
            </ul>
        </div>
    </nav>
</div>