@using MyTheFourth.Frontend.Components.ToggleTheme

<li class="nav-item">
    <ToggleTheme />
</li>

<li class="nav-item">
    <a href="/" class="nav-link py-3 px-4 active" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <span class="bi bi-house-door-fill fs-4" aria-hidden="true"></span>
    </a>
</li>

<li class="nav-item">
    <a href="starship" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <span class="bi bi-rocket-takeoff-fill fs-4" aria-hidden="true"></span>
    </a>
</li>

<li class="nav-item">
    <a href="vehicles" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <span class="bi bi-scooter fs-4" aria-hidden="true"></span>
    </a>
</li>

<li class="nav-item">
    <a href="movies" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <span class="bi bi-camera-reels-fill fs-4" aria-hidden="true"></span>
    </a>
</li>

<li class="nav-item">
    <a href="characters" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <span class="bi bi-file-earmark-person-fill fs-4" aria-hidden="true"></span>
    </a>
</li>

<li class="nav-item">
    <a href="planets" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
        <span class="bi bi-map-fill fs-4" aria-hidden="true"></span>
    </a>
</li>